[Unit]
Description=Ymir Model Manager
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
ExecStart=/usr/bin/ymir serve
ExecStop=/bin/kill -WINCH ${MAINPID}

[Install]
WantedBy=multi-user.target