@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

h1 {
  @apply h1;
}

h2 {
    @apply h2;
}

h3 {
    @apply h3;
}

h4 {
    @apply h4;
}
h5 {
    @apply h6;
}

ul {
    @apply list-disc list-inside;
}

ol {
    @apply list-decimal list-inside;
}

pre {
@apply bg-zinc-800;
}
